asgiref==3.2.7
boto3==1.13.1
botocore==1.16.1
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.5
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-rest-framework==0.1.0
django-storages==1.9.1
django-suit==2.0a1
djangorestframework==3.11.0
docutils==0.15.2
idna==2.9
jmespath==0.9.5
Pillow==7.1.1
psycopg2==2.8.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8

# install django suit using below command
# pip install https://github.com/darklow/django-suit/tarball/v2
