{% extends 'hrm/index.html' %}
{% block content %}
{% load filter %}
{% load static %}
<form id="emp_form" data-key="{{pk}}">
    {% csrf_token %}
    <div class="text-center">
        <h4>Employee Form</h4>
    </div>
    <div class="file-field">
        <div class="mb-4">
            <img src="{% get_media_prefix %}document/placeholder-avatar.jpg"
            class="rounded-circle z-depth-1-half" alt="Select Your photo" id="photo" style="height:100px; width:100px">
        </div>
        <div class="d-flex justify-content-right">
            <div class="btn btn-mdb-color btn-rounded float-left">
                <input type="file" id="photo_file">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="name">Name:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Enter Full Name" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="email">Email Address:</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="address">Address:</label>
        <div class="col-sm-9">
            <textarea rows="3" class="form-control" id="address" placeholder="Enter Address"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="mobile">Mobile Number:</label>
        <div class="col-sm-9">
            <input type="tel" class="form-control" id="mobile" placeholder="Phone Number">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="age">Age:</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" id="age" placeholder="Enter Age"  min="1" max="100">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="credit">Credit:</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" id="credit" placeholder="Enter your credit"  step="0.01">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="status">Status:</label>
        <div class="col-sm-1">
            <input type="checkbox" class="form-control" id="status" value="True">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="type">Employee Type:</label>
        <div class="col-sm-9">
            <select class="custom-select" id="type">
                <option value selected>Select Employee Type</option>
                {% for etype in emp_type %}
                    <option value="{{etype}}">{{etype}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="product">Product:</label>
        <div class="col-sm-9">
            <select class="custom-select" id="product" multiple>
                <option value selected>Select Product</option>
                {% for plist in product_list %}
                    <option value="{{plist}}">{{plist}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Gender:</label>
        <div class="col-sm-9 mt-2">
            <label class="mb-0 mr-3">
                <input type="radio" class="mr-1" name="gender" value="Male"> Male
            </label>
            <label class="mb-0 mr-3">
                <input type="radio" class="mr-1" name="gender" value="Female"> Female
            </label>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="meta_data">Meta Data:</label>
        <div class="col-sm-9">
            <textarea rows="3" class="form-control" id="meta_data" placeholder="Enter Json Data"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="production_user">Production User:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="production_user" placeholder="Enter multiple production user" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="birth_date">Birth Date:</label>
        <div class="col-sm-9">
            <input type="date" id="birth_date" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <input type="submit" id="submit" class="btn btn-primary" value="Submit">
            <input type="reset" class="btn btn-secondary" value="Reset">
            <a href="{% url 'employee_table'%}" class="btn btn-primary" role="button">Back</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready( function () {
        var pk = $('#emp_form').data("key") || '';
        if (pk){
             $.ajax({
                type: "GET",
                url: "/emp/"+pk,
                success:function(response){
                    $("#name").val(response.name);
                    if (response.photo){
                        document.getElementById("photo").src = response.photo;
                    }
                    $("#email").val(response.email);
                    $("#address").val(response.address);
                    $("#mobile").val(response.mobile);
                    $("#age").val(response.age);
                    $("#credit").val(response.credit);
                    $("input[name='gender'][value='"+response.gender+"']").attr('checked','checked');
                    $("#type").val(response.type);
                    $("#product").val(response.product);
                    $("#birth_date").val(response.birth_date);
                    $("#production_user").val(response.production_user);
                    $("#meta_data").val(JSON.stringify(response.meta_data));
                    document.getElementById("status").checked = response.status;
                }
             });
        }

        $('#submit').on('click', (e) => {
            e.preventDefault();
            insert();
        });

        function insert() {
            var formData = new FormData();
            if($("#photo_file").val()){
                formData.append('photo', $("#photo_file")[0].files[0]);
            }
            formData.append('name', $("#name").val());
            formData.append('email', $("#email").val());
            formData.append('address', $("#address").val());
            formData.append('mobile', $("#mobile").val());
            formData.append('age', $("#age").val());
            formData.append('product', $("#product").val());
            formData.append('credit', $("#credit").val());
            formData.append('status', document.getElementById("status").value);
            formData.append('birth_date', $("#birth_date").val());
            formData.append('type', $("#type").val());
            var jdata= $("#meta_data").val();
            if (jdata.startsWith("\"")){
                jdata = JSON.parse(jdata);
            }
            formData.append('meta_data', jdata);
            formData.append('production_user', $("#production_user").val());
            formData.append('gender', $("input[name='gender']").val());

            var urls = ''
            var method = ''
            if (pk){
                urls = '/emp/' + pk + '/'
                method = 'PUT'
            }else{
                urls = '/emp/'
                method = 'POST'
            }
            $.ajax({
                url : urls,
                type : method,
                enctype : 'multipart/form-data',
                data : formData,
                headers : {'X-CSRFToken': '{{csrf_token}}'},
                dataType : 'json',
                processData : false,
                contentType : false,
                success: function (data) {
                    console.log(data);
                    location.reload();
                },
                error: function(error){
                    console.log(error);
                }
            });
        }
    });


</script>
{% endblock %}